.bw-checkbox {
    @include default-margin;

    display: inline-flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;

    &--disabled {
        pointer-events: none;

        .bw-checkbox__check {
            border-color: $grey;

            &:before {
                background: $grey;
            }
        }

        .bw-checkbox__check + .bw-checkbox__label {
            color: $grey;
        }
    }

    &__input {
        position: absolute;
        opacity: 0;

        &:active,
        &:focus {
            & + .bw-checkbox__check {
                @include outline;
            }
        }

        &:checked {
            & + .bw-checkbox__check {
                &:before {
                    opacity: 1;
                }
            }
        }
    }

    &__check,
    &__label {
        display: inline-block;
    }

    &__check {
        @include input-check-box;

        &:before {
            display: block;
            opacity: 0;
            content: '';
            width: 8px;
            height: 8px;
            background: $black;
            margin: 2px;
            transition: all 0.2s ease-in-out;
        }
    }

    &__label {
        padding-left: 12px;
    }
}
