.bw-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;

    &--disabled {
        pointer-events: none;

        .bw-checkbox__check {
            border-color: $grey;

            &:before {
                background: $grey;
            }
        }

        .bw-checkbox__check + .bw-checkbox__label {
            color: $grey;
        }
    }

    &__input {
        position: absolute;
        opacity: 0;

        &:active,
        &:focus {
            & + .bw-checkbox__check {
                outline: 4px solid $blue;
            }
        }
    }

    &__check {
        display: inline-block;
        background: $white;
        width: 12px;
        height: 12px;
        border: 2px solid $black;
        transition: all 0.1s ease-in-out;
        cursor: pointer;

        &:before {
            display: block;
            opacity: 0;
            content: '';
            width: 8px;
            height: 8px;
            background: $black;
            margin: 2px;
            transition: all 0.2s ease-in-out;
        }

        &--checked {
            &:before {
                opacity: 1;
            }
        }
    }

    &__label {
        display: inline-block;
        padding-left: 12px;
    }
}
