.bw-input-label {
    &__title {
        display: inline-block;
        padding: 6px 14px;
        text-transform: uppercase;
    }
}

.bw-input {
    border: 2px solid $black;
    outline: none;
    padding: 6px 12px;
    box-sizing: border-box;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    transition: all 0.1s ease-in-out;
    outline-offset: 0px;

    &:focus {
        @include outline;
    }

    &--multiline {
        min-height: 48px;
    }
}
