.bw-radio {
    @include default-margin;

    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    &__input {
        position: absolute;
        height: 1px;
        opacity: 0;
        outline: none;

        &:focus {
            & + .bw-radio__check {
                @include outline;
            }
        }

        &:checked {
            & + .bw-radio__check {
                &:before {
                    opacity: 1;
                }
            }
        }

        &:disabled {
            & + .bw-radio__check {
                border-color: $grey;

                &:before {
                    background: $grey;
                }

                & + .bw-radio__label {
                    color: $grey;
                }
            }
        }
    }

    &__check,
    &__label {
        display: inline-block;
    }

    &__check {
        @include input-check-box;
        border-radius: 12px;

        &:before {
            display: block;
            content: '';
            border-radius: 12px;
            width: 8px;
            height: 8px;
            background: $black;
            margin: 2px;
            opacity: 0;
            transition: all 0.2s ease-in-out;
        }
    }

    &__label {
        padding-left: 12px;
    }
}
